.App {
  padding: 1rem;
  font-size: 14px;
}

.header {
  padding: 1rem;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.field {
  display: flex;
  align-items: center;
  height: 2.5rem;
  gap: .75rem;
  border: 2px dotted skyblue;
  border-radius: 3px;
  background: lightgrey;
  padding: 0 1rem;
  cursor: pointer;

  &:hover {
    background: lightcyan;
  }
}

svg {
  width: 1rem;
  height: 1rem;
}

.email-form {
  border-radius: 17px;
  height: 2.5rem;
  border: none;
  background: lightgrey;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
}

button {
  border: 0px solid transparent;
  display: flex;
  align-items: center;
  border-radius: 3px;
  pointer-events: auto;
  cursor: pointer;
  background: lightgrey;
  padding: 0.25rem;

  &:hover {
    background: white;
  }

  svg {
    width: 100%;
  }
}
